@import "tailwindcss";

:root {
  --primary-color: #dc0000;
  --dark-text-color: #1a1a1a;
  --primary-button-hover-bg-color: rgb(193, 0, 0);
  --primary-button-text-color: #ffffff;
}

@layer base {
  body {
    @apply m-0 min-w-[320px] min-h-screen flex flex-col antialiased;
  }
  #root {
    @apply flex flex-col min-h-screen;
  }
}
